// styles 
$box-shadow-block: 2.5px 2.5px 7.5px 0px transparentize($color: #000000, $amount: 0.8);
// color
$color-primary-grey: #2B2E37;
$color-secondary-grey: #313640;
$color-primary-orange: #E84940;
// layout
$navigation-pane-width: 250px;