<section class="navigation-pane-container">
    <img src="./assets/logo/resseek.png" alt="resseek logo" class="resseek">
    <section class="navigation-tabs">
        <div class="navigation-tab clickable disabled"><img src="./assets/icons/home.svg" alt="home icon"> Overview</div>
        <div class="navigation-tab clickable current-tab"><img src="./assets/icons/restaurant.svg" alt="restaurant icon"> Restaurant</div>
        <div class="navigation-tab clickable disabled"><img src="./assets/icons/offers.svg" alt="offer icon"> Offers</div>
        <div class="navigation-tab clickable disabled"><img src="./assets/icons/reservation.svg" alt="reservation icon"> Reservation</div>
    </section>
</section>